<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add Dish Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="main">
    <header th:include="@{/fragments/header.html}"></header>
    <div class="content">
        <h1 th:text="${dish.name == null ? 'Add Dish Form': 'Update Dish Form'}"></h1>
        <span>
            <div th:if="${message}" th:text="${message}"></div>
        </span>
        <form method="post" th:object="${dish}" th:action="${dish.name} ? @{/Tasky/admin/update} : @{/Tasky/admin/save}">
            <input type="number" th:field="*{id}" hidden></input>
            <div>
                <label>NAME</label>
                <input type="text" th:field="*{name}"></input>
            </div>
            <div>
                <label>CATEGORY</label>
                <input type="text" th:field="*{category}"></input>
            </div>
            <div>
                <label>PRICE</label>
                <input type="number" th:field="*{price}"></input>
            </div>
            <button type ="submit" class="btn btn-primary" th:text="${dish.name == null ? 'Add': 'Update'}">Add</button>
        </form>
    </div>
</div>
</body>
</html>