.content {
    margin: 100px;
    min-height: 65vh;
}

h1 {
    color: red;
}

.card {
    width: 320px;
    margin: 100px auto;
}

.card-body {
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

#restaurant-title {
    color: red;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 100px;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .nav-item a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid yellow;
}

.btn.btn-primary {
    background-color: green;
    color: white;
}

.btn.btn-sm {
    background-color: green;
    color: white;
}

.footer {
    text-align: center;
    width: 100%;
}

footer .card-header {
    background-color: green;
    color: white;
}

.footer-text {
    color: white;
}

.pagination {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    width: 100%;
    background-color: blue;
    color: white;
}

.pagination-info, .pagination-no {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-info div {
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
}

.pagination-no div {
    margin: 5px;
    padding: 10px;
}
